/Card/OneCardSln/OneCardClient/obj
/Card/OneCardSln/OneCardClient/bin
/Share/Components/obj
/Share/Components/bin
/Share/Components.Resource/bin
/Share/Components.Resource/obj
/Share/Components.WPF/obj
/Share/Components.WPF/bin
/Share/Controls.WinForm/obj
/Share/Controls.WinForm/bin
/Share/Dto/obj
/Share/Dto/bin
/Share/Model/bin
/Share/Model/obj
/Share/packages
/Share/Repository/obj
/Share/Repository/bin
/Share/Service/obj
/Share/Service/bin
/Share/WebApi/obj
/Share/WebApi/bin
/Share/WebApi/log
