/Share/ClientFrame/obj
/Share/ClientFrame/bin
/Share/Components/obj
/Share/Components/bin
/Share/Components.Resource/obj
/Share/Components.Resource/bin
/Share/Components.WPF/obj
/Share/Components.WPF/bin
/Share/Controls.WinForm/obj
/Share/Controls.WinForm/bin
/Share/Dto/obj
/Share/Dto/bin
/Share/Model/obj
/Share/Model/bin
/Share/packages
/Share/Repository/obj
/Share/Repository/bin
/Share/Service/bin
/Share/Service/obj
/Share/WebApi/obj
/Share/WebApi/bin
/Share/WebApi/log
/PartyBuilding/PartyBuilding/Biz.PartyBuilding/obj
/PartyBuilding/PartyBuilding/Biz.PartyBuilding/bin
/PartyBuilding/PartyBuilding/packages
