/Share/ClientFrame/obj
/Share/ClientFrame/bin
/Share/Components/obj
/Share/Components/bin
/Share/Components.Resource/obj
/Share/Components.Resource/bin
/Share/Components.WPF/obj
/Share/Components.WPF/bin
/Share/Controls.WinForm/obj
/Share/Controls.WinForm/bin
/Share/Dto/obj
/Share/Dto/bin
/Share/Model/obj
/Share/Model/bin
/Share/packages
/Share/Repository/obj
/Share/Repository/bin
/Share/Service/bin
/Share/Service/obj
/Share/WebApi/obj
/Share/WebApi/bin
/Share/WebApi/log
/PartyBuilding/PartyBuilding/Biz.PartyBuilding/obj
/PartyBuilding/PartyBuilding/Biz.PartyBuilding/bin
/PartyBuilding/PartyBuilding/packages
/PartyBuilding/Biz.PartyBuilding/Biz.PartyBuilding/bin
/PartyBuilding/Biz.PartyBuilding/Biz.PartyBuilding/obj
/PartyBuilding/Biz.PartyBuilding/Biz.PartyBuilding.Model/obj
/PartyBuilding/Biz.PartyBuilding/Biz.PartyBuilding.Model/bin
/PartyBuilding/Biz.PartyBuilding/Biz.PartyBuilding.Repository/obj
/PartyBuilding/Biz.PartyBuilding/Biz.PartyBuilding.Repository/bin
/PartyBuilding/Biz.PartyBuilding/Biz.PartyBuilding.Service/bin
/PartyBuilding/Biz.PartyBuilding/Biz.PartyBuilding.Service/obj
/PartyBuilding/Biz.PartyBuilding/Biz.PartyBuilding.WebApi/bin
/PartyBuilding/Biz.PartyBuilding/Biz.PartyBuilding.WebApi/obj
/PartyBuilding/Biz.PartyBuilding/packages
/Share/dlls/MyNet
/PartyBuilding/Biz.PartyBuilding/Biz.PartyBuilding.Client/obj
/PartyBuilding/Biz.PartyBuilding/Biz.PartyBuilding.Client/bin
/PartyBuilding/Biz.PartyBuilding/Biz.PartyBuilding.Dto/obj
/PartyBuilding/Biz.PartyBuilding/Biz.PartyBuilding.Dto/bin
/Share/Client/obj
/Share/Client/bin
/PartyBuilding/Biz.PartyBuilding/Biz.PartyBuilding.Resource/obj
/PartyBuilding/Biz.PartyBuilding/Biz.PartyBuilding.Resource/bin
/PartyBuilding/ys/Biz.PartyBuilding.YS/Biz.PartyBuilding.YS.Client/obj
/PartyBuilding/ys/Biz.PartyBuilding.YS/Biz.PartyBuilding.YS.Client/bin
/PartyBuilding/ys/Biz.PartyBuilding.YS/packages
/PartyBuilding/ys/Biz.PartyBuilding.YS/Biz.PartyBuilding.YS.v12.suo
/PartyBuilding/ys/Biz.PartyBuilding.YS/Biz.PartyBuilding.YS.WebApi/obj
/PartyBuilding/ys/Biz.PartyBuilding.YS/Biz.PartyBuilding.YS.WebApi/bin
/PartyBuilding/ys/Biz.PartyBuilding.YS/Biz.PartyBuilding.YS.Models/obj
/PartyBuilding/ys/Biz.PartyBuilding.YS/Biz.PartyBuilding.YS.Models/bin
/PartyBuilding/ys/Biz.PartyBuilding.YS/Biz.PartyBuilding.YS.Repository/obj
/PartyBuilding/ys/Biz.PartyBuilding.YS/Biz.PartyBuilding.YS.Repository/bin
/PartyBuilding/ys/Biz.PartyBuilding.YS/Biz.PartyBuilding.YS.WebApi/web.Release.config
/PartyBuilding/ys/Biz.PartyBuilding.YS/Biz.PartyBuilding.YS.WebApi/web.Debug.config
/Share/.vs
/PartyBuilding/ys/Biz.PartyBuilding.YS/.vs
/Share/WebApi/upload
/Share/MyNet.Client/obj
/Share/MyNet.ClientFrame/obj
/Share/MyNet.ClientFrame/bin
/Share/MyNet.Components/obj
/Share/MyNet.Components.Resource/obj
/Share/MyNet.Components.WPF/obj
/Share/MyNet.Dto/obj
/Share/MyNet.Model/obj
/Share/MyNet.Repository/obj
/Share/MyNet.Service/obj
/Share/MyNet.WebApi/obj
/Share/MyNet.WebApi/bin
/Share/MyNet.WebApi/log
/Share/MyNet.WebApi/upload
/Share/MyNet.WebApi.Test/bin
/Share/MyNet.WebApi.Test/obj
/Share/MyNet.WebHostService/obj
/Share/MyNet.WebHostService/bin
/CustomQuery/packages
/CustomQuery/.vs
/CustomQuery/MyNet.CustomQuery.Model/obj
/CustomQuery/MyNet.CustomQuery.Model/bin
/CustomQuery/MyNet.CustomQuery.Repository/obj
/CustomQuery/MyNet.CustomQuery.Repository/bin
/CustomQuery/MyNet.CustomQuery.Service/obj
/CustomQuery/MyNet.CustomQuery.Service/bin
/CustomQuery/MyNet.CustomQuery.WebApi/obj
/CustomQuery/MyNet.CustomQuery.WebApi/bin
/Share/build.log
/CustomQuery/MyNet.CustomQuery.Client/obj
/CustomQuery/MyNet.CustomQuery.Client/bin
/Share/MyNet.WindowsService/obj
/Share/MyNet.WindowsService/bin
