<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--接口是否启用-->
  <apis enable="true">
    <!--基础-->
    <api name="cmn_isnew" url="api/party/common/isnew"  provider="party"/>
    <!--任务管理-->
    <api name="task_get" url="api/party/task/get"  provider="party"/>
    <api name="task_save" url="api/party/task/save" provider="party"/>
    <api name="task_isnew" url="api/party/task/isnew" provider="party"/>
    <api name="task_complete_new" url="api/party/task/task_complete_new" provider="party"/>
    <api name="task_release" url="api/party/task/release" provider="party"/>
    <api name="task_take" url="api/party/task/take" provider="party"/>
    <api name="task_complete" url="api/party/task/complete" provider="party"/>
    <!--信息通告-->
    <api name="info_get" url="api/party/info/get"  provider="party"/>
    <api name="info_save" url="api/party/info/save"  provider="party"/>
    <api name="info_isnew" url="api/party/info/isnew"  provider="party"/>
    <api name="info_release" url="api/party/info/release"  provider="party"/>
    <api name="info_read" url="api/party/info/read"  provider="party"/>
    <!--组织活动场所-->
    <api name="area_get" url="api/party/actarea/get"  provider="party"/>
    <api name="area_save" url="api/party/actarea/save"  provider="party"/>
  </apis>
</configuration>