<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--接口是否启用-->
  <apis enable="true">
    <!--登录、主界面-->
    <api name="login" url="api/auth/user/login"  provider="onecard"/>
    <api name="verifycode" url="api/common/misc/verifycode" provider="onecard"/>
    <api name="getper" url="api/auth/user/getper" provider="onecard"/>
    <api name="usr_get" url="api/auth/user/get" provider="onecard"/>
    <!-- ————————————————我的账户——————————— -->
    <api name="changepwd" url="api/auth/user/changepwd" provider="onecard"/>
    <!-- ————————————————权限管理——用户管理——————————— -->
    <api name="usr_pagequery" url="api/auth/user/querybypage" provider="onecard"/>
    <api name="usr_add" url="api/auth/user/add" provider="onecard"/>
    <api name="usr_delete" url="api/auth/user/delete" provider="onecard"/>
    <api name="usr_multidelete" url="api/auth/user/multidelete" provider="onecard"/>
    <api name="usr_edit" url="api/auth/user/update" provider="onecard"/>
    <!-- ————————————————权限管理——权限管理——————————— -->
    <api name="per_pagequery" url="api/auth/permission/querybypage" provider="onecard"/>
    <api name="per_add" url="api/auth/permission/add" provider="onecard"/>
    <api name="per_edit" url="api/auth/permission/update" provider="onecard"/>
    <api name="per_delete" url="api/auth/permission/delete" provider="onecard"/>
    <api name="per_multidelete" url="api/auth/permission/multidelete" provider="onecard"/>
  </apis>
</configuration>