<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--接口是否启用-->
  <apis enable="true">
    <api name="login" url="api/auth/user/login"  provider="onecard"/>
    <api name="verifycode" url="api/common/misc/verifycode" provider="onecard"/>
    <api name="getper" url="api/auth/user/getper" provider="onecard"/>
    <api name="getusr" url="api/auth/user/get" provider="onecard"/>
  </apis>
</configuration>