<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--接口是否启用-->
  <apis enable="true">
    <!--登录、主界面-->
    <api name="login" url="api/auth/user/login"  provider="onecard"/>
    <api name="verifycode" url="api/common/misc/verifycode" provider="onecard"/>
    <api name="getper" url="api/auth/user/getper" provider="onecard"/>
    <api name="getusr" url="api/auth/user/get" provider="onecard"/>
    <!-- ————————————————我的账户——————————— -->
    <api name="changepwd" url="api/auth/user/changepwd" provider="onecard"/>
    <api name="editusr" url="api/auth/user/update" provider="onecard"/>
    <!-- ————————————————权限管理——用户管理——————————— -->
    <api name="querybypage" url="api/auth/user/querybypage" provider="onecard"/>
  </apis>
</configuration>