<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>

  <appSettings>
    <!--mss|ora|mysql|sqlite-->
    <add key="dbtype" value="mysql"/>
  </appSettings>
  <system.data>
    <DbProviderFactories>
      <!--<remove invariant="Oracle.ManagedDataAccess.Client"/>
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
      <remove invariant="System.Data.SQLite"/>
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".Net Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite, Version=1.0.86.0, Culture=neutral, PublicKeyToken=db937bc2d44ff139"/>-->
      <remove invariant="MySql.Data.MySqlClient"/>
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.8.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"/>
    </DbProviderFactories>
  </system.data>
  <connectionStrings>
    <!--mss-->
    <!--<add name="mss" connectionString="Data Source=.;Initial Catalog=MyFrame;Persist Security Info=True;User ID=sa;Password=123456;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>-->
    <!--mysql，Database可以不指定，在查询之前执行use命令-->
    <add name="default" connectionString="Server=192.168.18.34;Port=3306;Uid=root;Pwd=root;Database=yl;" providerName="MySql.Data.MySqlClient"/>
    <!--<add name="mysql" connectionString="Server=192.168.18.34;Port=3306;Uid=root;Pwd=root;Database=yl;" providerName="MySql.Data.MySqlClient"/>-->
    <!--ora-->
    <!--<add name="ora" connectionString="Data Source=(DESCRIPTION =(ADDRESS = (PROTOCOL = TCP)(HOST = localhost)(PORT = 1521))(CONNECT_DATA = (SERVER = DEDICATED) (SERVICE_NAME = orcl)));User Id=system;Password=orcl"  providerName="Oracle.ManagedDataAccess.Client"/>-->
    <!--sqlite-->
    <!--<add name="sqlite" connectionString="Data Source=db;Pooling=true;FailIfMissing=true" providerName="System.Data.SQLite"/>-->
  </connectionStrings>
</configuration>
