<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--接口是否启用-->
  <apis enable="true">
    <!--登录、主界面-->
    <api name="get_card_account" url="api/card/account/get"  provider="allinone"/>
    <api name="get_cards" url="api/card/account/cards"  provider="allinone"/>
    <api name="get_order_records" url="http://192.168.18.47/shop_lc/mobile/index.php?act=one_card_solution&amp;op=accountOrderList"  provider="allinone"/>
  </apis>
</configuration>