<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--接口是否启用-->
  <apis enable="true">
    <!-- ————————————————党建——基础数据——党组织管理——————————— -->
    <api name="party_org_get" url="api/party/org/get" provider="party"/>
    <api name="party_org_save" url="api/party/org/save" provider="party"/>
  </apis>
</configuration>