<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--接口是否启用-->
  <apis enable="true">
    <!--登录、主界面-->
    <api name="login" url="api/auth/user/login"  provider="frame"/>
    <api name="verifycode" url="api/common/misc/verifycode" provider="frame"/>
    <api name="getper" url="api/auth/user/getper" provider="frame"/>
    <api name="usr_get" url="api/auth/user/get" provider="frame"/>

    <!-- ————————————————杂项——————————— -->
    <api name="base_dict_get" url="api/base/dict/getlist" provider="frame"/>
    <!-- ————————————————我的账户——————————— -->
    <api name="changepwd" url="api/auth/user/changepwd" provider="frame"/>
    <!-- ————————————————权限管理——用户管理——————————— -->
    <api name="usr_pagequery" url="api/auth/user/querybypage" provider="frame"/>
    <api name="usr_add" url="api/auth/user/add" provider="frame"/>
    <api name="usr_delete" url="api/auth/user/delete" provider="frame"/>
    <api name="usr_multidelete" url="api/auth/user/multidelete" provider="frame"/>
    <api name="usr_edit" url="api/auth/user/update" provider="frame"/>
    <api name="usr_assign" url="api/auth/user/assign" provider="frame"/>
    <!-- ————————————————权限管理——权限管理——————————— -->
    <api name="per_pagequery" url="api/auth/permission/querybypage" provider="frame"/>
    <api name="per_add" url="api/auth/permission/add" provider="frame"/>
    <api name="per_edit" url="api/auth/permission/update" provider="frame"/>
    <api name="per_delete" url="api/auth/permission/delete" provider="frame"/>
    <api name="per_multidelete" url="api/auth/permission/multidelete" provider="frame"/>
    <api name="per_allfuncs" url="api/auth/permission/getallfuncs" provider="frame"/>
    <api name="per_allopts" url="api/auth/permission/getallopts" provider="frame"/>
  </apis>
</configuration>