<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <appSettings>
    <add key="log" value="true" />
    <!--token失效时间，1440=1天，43200=30天-->
    <add key="token_expire" value="43200" />
    <add key="upload_path" value="upload" />
    <add key="debug" value="true" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.data>
    <DbProviderFactories>
      <!--<remove invariant="Oracle.ManagedDataAccess.Client"/>
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
      <remove invariant="System.Data.SQLite"/>
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".Net Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite, Version=1.0.86.0, Culture=neutral, PublicKeyToken=db937bc2d44ff139"/>-->
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.8.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
  <connectionStrings>
    <!--mss-->
    <!--<add name="mss" connectionString="Data Source=.;Initial Catalog=MyFrame;Persist Security Info=True;User ID=sa;Password=123456;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>-->
    <!--mysql，Database可以不指定，在查询之前执行use命令-->
    <!--mysql:one_card-->
    <!--<add name="default" connectionString="Server=localhost;Port=3306;Uid=root;Pwd=root;Database=one_card;Connect Timeout=30" providerName="MySql.Data.MySqlClient" />-->
    <!--mysql:partybuilding-->
    <!--<add name="default" connectionString="Server=localhost;Port=3306;Uid=root;Pwd=root;Database=partybuilding;Connect Timeout=30" providerName="MySql.Data.MySqlClient" />-->
    <!--mysql:partybuilding_ys-->
    <add name="default" connectionString="Server=localhost;Port=3306;Uid=root;Pwd=root;Database=partybuilding_ys;Connect Timeout=30" providerName="MySql.Data.MySqlClient" />
    <!--<add name="mysql" connectionString="Server=192.168.18.34;Port=3306;Uid=root;Pwd=root;Database=yl;" providerName="MySql.Data.MySqlClient"/>-->
    <!--ora-->
    <!--<add name="ora" connectionString="Data Source=(DESCRIPTION =(ADDRESS = (PROTOCOL = TCP)(HOST = localhost)(PORT = 1521))(CONNECT_DATA = (SERVER = DEDICATED) (SERVICE_NAME = orcl)));User Id=system;Password=orcl"  providerName="Oracle.ManagedDataAccess.Client"/>-->
    <!--sqlite-->
    <!--<add name="sqlite" connectionString="Data Source=db;Pooling=true;FailIfMissing=true" providerName="System.Data.SQLite"/>-->
  </connectionStrings>
</configuration>