<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--enable:是否启用商城接口-->
  <apis enable="true">
    <!-- provider="mall"，代表商城提供的接口-->
     
    <api name="getAccountInfo" url="http://192.168.18.89/OneCardSln/simulate/getAccountInfoHandler.ashx"  provider="mall"/>
    <api name="closeDownAccount" url="http://192.168.18.89/OneCardSln/simulate/closeDownAccountHandler.ashx" provider="mall"/>
    <api name="createAccount" url="http://192.168.18.89/OneCardSln/simulate/createAccountHandler.ashx" provider="mall"/>
    <api name="changePhone" url="http://192.168.18.89/OneCardSln/simulate/changePhoneHandler.ashx" provider="mall"/>
	
    <!--<api name="getAccountInfo" url="http://192.168.18.47/shopnc_v1/mobile/index.php?act=one_card_solution&amp;op=getAccountInfo"  provider="mall"/>
    <api name="closeDownAccount" url="http://192.168.18.47/shopnc_v1/mobile/index.php?act=one_card_solution&amp;op=closeDownAccount" provider="mall"/>
    <api name="createAccount" url="http://192.168.18.47/shopnc_v1/mobile/index.php?act=one_card_solution&amp;op=createAccount" provider="mall"/>
    <api name="changePhone" url="http://192.168.18.47/shopnc_v1/mobile/index.php?act=one_card_solution&amp;op=changePhone" provider="mall"/>-->
  </apis>
</configuration>