<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
  <appSettings>
    <add key="last_mng_file" value=""/>
    <add key="last_target_dir" value=""/>
    <add key="del_not_list" value="true"/>
    <add key="open_after_submit" value="true"/>
  </appSettings>
</configuration>
