<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--接口是否启用-->
  <apis enable="true">
    <!--查询表管理-->
    <api name="table_page" url="api/customquery/tables/querybypage"  provider="customquery"/>
    <api name="table_all_with_fields" url="api/customquery/tables/gettablewithfields" provider="customquery"/>
    <api name="table_add" url="api/customquery/tables/add" provider="customquery"/>
    <api name="table_update" url="api/customquery/tables/update" provider="customquery"/>
    <api name="table_del" url="api/customquery/tables/multidelete" provider="customquery"/>
    <api name="table_dbtables" url="api/customquery/tables/dbtables" provider="customquery"/>
    <api name="table_init" url="api/customquery/tables/init" provider="customquery"/>
    <!--查询字段管理-->
    <api name="field_page" url="api/customquery/fields/querybypage"  provider="customquery"/>
    <api name="field_add" url="api/customquery/fields/add"  provider="customquery"/>
    <api name="field_update" url="api/customquery/fields/update"  provider="customquery"/>
    <api name="field_del" url="api/customquery/fields/multidelete"  provider="customquery"/>
    <api name="field_dbfields" url="api/customquery/fields/dbfields"  provider="customquery"/>
    <api name="field_init" url="api/customquery/fields/init"  provider="customquery"/>
    <!--执行自定义查询-->
    <api name="exec_query" url="api/customquery/query/do"  provider="customquery"/>
  </apis>
</configuration>